
@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1474021452'); /* IE9*/
  src: url('../font/iconfont.eot?t=1474021452#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff?t=1474021452') format('woff'), /* chrome, firefox */
  url('../font/iconfont.ttf?t=1474021452') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg?t=1474021452#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  display:inline-block;
  font-family:"iconfont" !important;
  font-size:1em;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-minus:before { content: "\e600"; }
.icon-yuanquan:before { content: "\e601"; }
.icon-iconorder:before { content: "\e602"; }
.icon-like:before { content: "\e603"; }
.icon-like1:before { content: "\e604"; }
.icon-refresh:before { content: "\e605"; }
.icon-40one:before { content: "\e606"; }
.icon-order:before { content: "\e607"; }
.icon-coupon:before { content: "\e608"; }
.icon-cart:before { content: "\e609"; }
.icon-jiantou-copy-copy-copy:before { content: "\e60a"; }
.icon-jiantou:before { content: "\e60b"; }
.icon-jiantou-copy:before { content: "\e60c"; }
.icon-user:before { content: "\e60d"; }
.icon-dianhua:before { content: "\e60e"; }
.icon-unie64d-copy:before { content: "\e60f"; }
.icon-yes:before { content: "\e610"; }
.icon-cshy-comment-copy:before { content: "\e611"; }
.icon-jiantou-copy-copy:before { content: "\e612"; }
.icon-jifenduihuan:before { content: "\e613"; }
.icon-jifen2:before { content: "\e614"; }
.icon-ricon-add:before { content: "\e615"; }
.icon-gouwuche:before { content: "\e616"; }
