*{margin:0;padding:0;font-color:#444;}
img{border:0;}
a{text-decoration:none;color:#3559e0;}
b{font-weight:bold;}
ul,li{list-style-type:none;}
body{
  font-family: "黑体","Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
  -webkit-font-smoothing: antialiased;
  position:relative;
  z-index:-1;
}
.clear{clear:both;}
.nav{
  display:block;
  position:fixed;
  top:0;height:50px;
  width:100%;
  min-width:800px;
  background:#000;
  box-shadow:0 0 3px #888;  
  -webkit-user-select:none;
  -moz-user-select:none;
  -o-user-select:none;
  user-select:none;
  z-index:100;
}
.nav ul{
  min-width:1200px;
  height:40px;
  margin:5px 10px;
  background:#9ac2ff;
  border-radius:10px;
  
}
.nav ul  li{
  float:left;
}
.nav a{
  color:#000ed2;
  display:block;
  font-size:20px;
  font-weight:bold;
  line-height:40px;
  padding:0 20px;
}
.mao{position:absolute;top:-50px;}
.hr{
  width:100%;
  position:relative;
  padding-top:6px;
  margin-left:auto;
  margin-right:auto;
}
.hr h2{
  color:#4DA94D;
  height:80px;
  font-size:30px;
  line-height:80px;
}
.block{
  position:relative;
}
.nei{
  position:relative;
  width:960px;
  margin:0 auto;
}
.nei .cont{
  margin-top:6px;
  padding:30px 80px;
  background:#fff3e7;
  background:rgba(245, 208, 171, 0.4);;
  box-shadow:0 0 4px #d87d6e;
  line-height:1.4;
}
.nei .tit{
  height:40px;
  overflow:hidden;
  background:#edcdf7;
  background:rgba(237, 205, 247, 0.4);  
}
.nei .tit span{
  display:inline-block;
}
.nei .tit .b{
  vertical-align: middle;  
  line-height: 40px;
  height: 40px;
  width:200px;
  text-align:center;
  color:#fff;
  background:#a71d9c;
  font-size:120%;
  font-weight:normal;
}
.nei .tit .c{
  vertical-align: middle;
  width: 20px;
  height: 40px;  
  background: #a71d9c;
  transform: scale(1.5) rotate(-30deg);
  -ms-transform:: scale(1.5) rotate(-30deg);
  -webkit-transform: scale(1.5) rotate(-30deg);
  -o-transform: scale(1.5) rotate(-30deg);
  margin-left: -15px;
}
.nei .tit .d{
  position: relative;
  vertical-align: middle;
  width: 20px;
  height: 40px;
  background: #f0f;
  line-height: 40px;
  transform: scale(1.5) rotate(-30deg);
  -ms-transform:: scale(1.5) rotate(-30deg);
  -webkit-transform: scale(1.5) rotate(-30deg);
  -o-transform: scale(1.5) rotate(-30deg);
  margin-left: -10px;
  z-index: -1;
}
.circle{
  position:absolute;
  background:#fff;
}
.circle .img{
  position:absolute;
  overflow:hidden;
}
#item1{
  margin-top:50px;
  width:100%;
  height:300px;
  padding-bottom:1px;  
}
#item1 .img{
  width:100%;
  min-width:1000px;
  height:100%;
}
.img img{
  width:100%;
  height:100%;
}
#item1 .logo{
  width:100px;
  height:160px;
  position:absolute;
  top:0;left:20px;
}
#item1 .logo img{
  width:100%;
  height:100%;
}
#item1 .txt{
  position:absolute;
  left:0;top:100px;
  width:300px;
  padding:20px 0 20px 400px;
  background:rgba(0,0,0,0.3);
  color:#fff;
}

#item2{
  background-image:url('../img/bg1.gif');
  background-size:100% 105%;
  z-index:-2;
}
#item2 .nei .imgs{
  height:150px;
  position:relative;
}
#item2 .nei .img{
  width:120px;
  height:120px;
  border-radius:60px;
  left:3px;top:3px;
}
#item2 .nei .circle{
  width:126px;
  height:126px;
  border-radius:63px;
  background:#fff;
  top:10px;
}
#item2 .nei .circle.c1{ left:30px; box-shadow:0 0 4px #d86ed0;}
#item2 .nei .circle.c2{ left:170px; box-shadow:0 0 4px #e07739;}
#item2 .nei .circle.c3{ left:310px; box-shadow:0 0 4px #39e0b2;}
#item2 .cont p span{
  display:inline-block;
  width:2em;
}
#item3{
  background-image:url('../img/bg1.gif');
  background-size:100% 105%;
  z-index:-2;
}
#item3 .cont p {
  margin-top:20px;
  line-height:1.5;
}
#item3 .cont p span{
  display:inline-block;
  width:2em;
}
#item3 .img{
  height:200px;
  width:100%;
  margin:20px 0 10px;
}
#item3 .yel{
  height:8px;
  background:#ff0;
}
#item4{
  background-image:url('../img/bg1.gif');
  background-size:100% 105%;
  z-index:-2;
}

#item4 .cont p span{
  display:inline-block;
  width:2em;
}
#item4 .cont div{
  margin-top:15px;
}
#item4 .cont div p{
  vertical-align:top;
}
#item4 .cont div p.l{
  width:180px;
}
#item4 .cont div p.r{
  width:600px;
}
#item4 .cont div p{
  display:inline-block;
}
#item4 .imgs{
  margin-top:10px;
}
#item4 .imgs .img{
  display:inline-block;
  margin-right:10px;
  padding:2px;
  background:#fff;
  height:200px;
  width:280px;
  box-shadow:0 0 2px #aaa;
}
#item5{
  background-image:url('../img/bg1.gif');
  background-size:100% 105%;
  z-index:-2;
}

#item5 .cont p span{
  display:inline-block;
  width:2em;
}

#item6{
  background-image:url('../img/bg1.gif');
  background-size:100% 100%;
  z-index:-2;
}

#item6 li{
  margin-top:5px;
  width:450px;
  height:100px;
  padding:10px;
}
#item6 li p span{
  display:inline-block;
  width:2em;
}
#item6 li h4{
  margin-bottom:5px;
}
#item6 li.left{
  float:left;
}
#item6 li.right{
  float:right;
}
#item6 li.color1{
  background:#f9caca
}
#item6 li.color2{
  background:#fffdbc
}
#item6 li.color3{
  background:#bdfdbf
}
#item6 li.color4{
  background:#ffd9b1
}
#item6 li.color5{
  background:#e7e2ff;
  width:940px;
  height:80px;
}

#item7 {
  background-image:url('../img/bg2.gif');
  background-size:100% 100%;
}
#item7 .table{
  text-align:center;
}
#item7 .table h3{
  position:relative;
  background:#f00;
  color:#fff;
  font-size:30px;
  font-weight:normal;
  margin-bottom:4px;
}
#item7 .table h3 span{
  position:absolute;
  display:inline-block;
  height:0;width:0;
}
#item7 .table h3 span.s1{
  left:-20px;top:0;
  border-top: 20px solid #f00;
  border-left: 20px solid transparent;
}
#item7 .table h3 span.s2{
  left:-20px;top:14px;
  border-bottom: 20px solid #f00;
  border-left: 20px solid transparent;
}
#item7 .table h3 span.s3{
  right:-20px;top:0;
  border-top: 20px solid #f00;
  border-right: 20px solid transparent;
}
#item7 .table h3 span.s4{
  right:-20px;top:14px;
  border-bottom: 20px solid #f00;
  border-right: 20px solid transparent;
}
#item7 .table p{
  background:#f5dee8;
  line-height:1.3;
}
#item7 .table p span{
  display:inline-block;
}
#item7 .table p .s1{
  width:60px;
}
#item7 .table p .s2{
  width:50px;
}
#item7 .table p .s3{
  width:60px;
}
#item7 .table p .s4{
  width:120px;
}
#item7 .table .l{
  float:left;
  width:33%;
  margin-right:3px;
}
#item7 .table .last{
  clear:both;
}

#item7 .bao{
  position:relative;
  margin-top:10px;
  background:#eee;
  padding:20px;
}
#item7 .bao p{
  line-height:1.5;
  width:480px;
}
#item7 .bao .l{
  font-weight:bold;
  float:left;
  width:90px;
}
#item7 .bao .r{
  float:right;
  width:370px;
}
#item7 .bao .zhao{
  position:absolute;
  right:0;
  color:#f00;
  text-align:center;
  font-size:150%;
  font-weight:bold;
}
#item7 .bao .xu, #item7 .bao ul{
  color:#b53737;
  font-weight:bold;
}
#item7 .bao .xu{margin-top: 10px;  font-size:130%;}
#item7 .bao li{
  margin-left:20px;
  list-style-type: disc;
  margin-top:10px;
  line-height:1.5;
}
#item7 .imgs{
  margin-top:20px;
}
#item7 .imgs .img{
  display:inline-block;
  width:476px;
  height:200px;
}
#item7 .imgs0 .img{
  margin-top:1em;
  display:inline-block;
  width:232px;
  height:160px;
}
#item7 .tail{
  font-size:160%;
  font-weight:bold;
  padding:40px;
  text-align:center;
  color:#103de8;
}
#item7 .tail span{font-size:170%;color:#ef7d29}
