*{margin:0;padding:0;font-color:#444;}
img{border:0;}
a{text-decoration:none;color:#3559e0;}
b{font-weight:bold;}
ul,li{list-style-type:none;}
body{
  font-family: "黑体","Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
  -webkit-font-smoothing: antialiased;
  position:relative;
  z-index:-1;
}
.clear{clear:both;}
.nav{
  display:block;
  position:fixed;
  top:0;height:50px;
  width:100%;
  min-width:800px;
  background:#000;
  box-shadow:0 0 3px #888;  
  -webkit-user-select:none;
  -moz-user-select:none;
  -o-user-select:none;
  user-select:none;
  z-index:100;
}
.nav ul{
  min-width:1200px;
  height:40px;
  margin:5px 10px;
  background:#9ac2ff;
  border-radius:10px;
  
}
.nav ul  li{
  float:left;
}
.nav a{
  color:#000ed2;
  display:block;
  font-size:20px;
  font-weight:bold;
  line-height:40px;
  padding:0 20px;
}
.mao{position:absolute;top:-50px;}
.hr{
  width:100%;
  position:relative;
  padding-top:6px;
  margin-left:auto;
  margin-right:auto;
}
.hr h2{
  color:#4DA94D;
  height:80px;
  font-size:30px;
  line-height:80px;
}
.block{
  position:relative;
}
.nei{
  position:relative;
  width:960px;
  margin:0 auto;
}
.nei .cont{
  margin-top:6px;
  padding:30px 80px;
  line-height:1.4;
}
.nei .tit{
  height:40px;
  overflow:hidden;
  background:#edcdf7;
  background:rgba(237, 205, 247, 0.4);  
}
.nei .tit span{
  display:inline-block;
}
.nei .tit .b{
  vertical-align: middle;  
  line-height: 40px;
  height: 40px;
  width:200px;
  text-align:center;
  color:#fff;
  background:#a71d9c;
  font-size:120%;
  font-weight:normal;
}
.nei .tit .c{
  vertical-align: middle;
  width: 20px;
  height: 40px;  
  background: #a71d9c;
  transform: scale(1.5) rotate(-30deg);
  -ms-transform:: scale(1.5) rotate(-30deg);
  -webkit-transform: scale(1.5) rotate(-30deg);
  -o-transform: scale(1.5) rotate(-30deg);
  margin-left: -15px;
}
.nei .tit .d{
  position: relative;
  vertical-align: middle;
  width: 20px;
  height: 40px;
  background: #f0f;
  line-height: 40px;
  transform: scale(1.5) rotate(-30deg);
  -ms-transform:: scale(1.5) rotate(-30deg);
  -webkit-transform: scale(1.5) rotate(-30deg);
  -o-transform: scale(1.5) rotate(-30deg);
  margin-left: -10px;
  z-index: -1;
}
.nei .til-sub{
  width:400px;
  height:2px;
  background:#a71d9c;
  margin:5px 0;
}
.nei .last-tit{
  width:100%;
  height:4px;
  background:#a71d9c;
  margin:5px 0;
}
.circle{
  position:absolute;
  background:#fff;
}
.circle .img{
  position:absolute;
  overflow:hidden;
}
#item1{
  margin-top:50px;
  width:100%;
  height:640px;
  padding-bottom:1px;  
}
#item1 .img p{
  position:absolute;
}

#item1 .img{
  width:100%;
  min-width:1000px;
  height:300px;
  position:relative;
  overflow:hidden;  
}
#item1 .bg{height:120%;}
.img img{
  width:100%;
  height:100%;
}
#item1 .title{
  background:#f5ad0d;
  color:#fff;
  line-height:50px;
  font-size:24px;
  text-align:center;
}
#item1 .h1{
  position:absolute;left:380px;top:20px;
  font-size:20px;
  font-weight:bold;
  color:#399db5;
}
#item1 .h1 span{
  color:#b56d39;
}
#item1 .bot{
  position:absolute;right:50px;top:260px;
  color:#399db5;
  padding:0 10px;
  background:#fff;
  border-radius:12px;
}
#item1 .cont{
  position:absolute;
  width:360px;
  left:360px;
  color:#fff;
  font-size:18px;
  text-align:center;
}
#item1 .img3{
  position:absolute;top:0;left:50px;
  width:200px;
  height:180px;
  background:#fff;
  padding:10px 40px;
  text-align:right;
}
#item1 .img3 .p1{color:#399db5;font-size:14px;margin-top:50px;}
#item1 .img3 .p2{color:#b56d39;font-size:22px;margin-top:10px;}
#item1 .img3 .p3{color:#399db5;font-size:16px;margin-top:10px;}
#item1 .img3 .p4{color:#b56d39;font-size:16px;margin-top:10px;}
#item1 .cont.c1{top:120px;}
#item1 .cont.c2{top:160px;}
#item1 .cont.c3{top:200px;}
#item1 .img2{
  height:300px;
  width:100%:
}
#item1 .img2 img{
  width:100%;height:100%;
}
#item1 .logo{
  width:100px;
  height:160px;
  position:absolute;
  top:0;left:20px;
}
#item1 .logo img{
  width:100%;
  height:100%;
}

#item2{
  background-image:url('../img/bg1.gif');
  background-size:100% 105%;
  z-index:-2;
}
#item2 .cont{padding:10px 10px;}
#item2 .cont p{
  line-height:1.6;
  margin-bottom:20px;
  text-indent:2em;
}
#item2 .nei .img{
  float:left;
}
#item2 .nei .img.i1{
  width:350px;
  height:260px;
}
#item2 .nei .img.i2{
  width:600px;
  height:260px;
  margin-left:10px;
}
#item2 .nei .i3{
  width:960px;
  height:320px;
}
#item2 .nei .i3 img{width:100%;height:100%;}
#item3{
  background-image:url('../img/bg1.gif');
  background-size:100% 105%;
  z-index:-2;
}
#item3 .cont {
  padding:10px 0;
}
#item3 .cont .l{
  float:left;
  width:460px;
  margin-right:15px;
}
#item3 .cont .l p{
  line-height:1.8;
  margin-bottom:10px;
  text-indent:-1.5em;
  margin-left:1.5em;
}
#item3 .cont .img{width:100%;}
#item3 .cont .img.i1{height:260px;}
#item3 .cont .img.i2{height:350px;}
#item3 .cont .img.i3{height:260px;}
#item4{
  background-image:url('../img/bg1.gif');
  background-size:100% 105%;
  z-index:-2;
}
#item4 .cont{padding:10px 0;}
#item4 .le p,#item4 .ri p{
  line-height:1.5;
  margin-bottom:10px;
  text-indent:-1.5em;
  margin-left:1.5em;  
}
#item4 .le .img{
  width:100%;
  height:220px;
}
#item4 .ri .img{
  width:100%;
  height:200px;
}
#item4 .le{
  float:left;
  width:440px;
}
#item4 .ri{
  float:right;
  width:440px;
}
#item4 .img2{
  height:240px;width:100%;
}
#item4 .img2 img{width:100%;height:100%;}
#item5{
  background-image:url('../img/bg1.gif');
  background-size:100% 105%;
  z-index:-2;
}
#item5 ul{
  float:left;
  width:340px;
  height:500px;
}
#item5 ul li{
  line-height:26px;
}
#item5 ul li span{
  display:inline-block;
  width:100px;
}
#item5 ul li span.s2{width:80px;}
#item5 ul li span.s3{width:140px;}
#item5 .w{
  float:left;
  width:2px;
  height:500px;
  background:#fff;
}
#item5 .imgs{
  float:left;
  width:260px;
  height:500px;
  position:relative;
}
#item5 .imgs .img{
  width:240px;
  margin-left:10px;
  height:150px;
  position:absolute;left:0;
}
#item5 .imgs .img img{width:100%;height:100%;}
#item5 .imgs .img p{text-align:center;}
#item5 .imgs .img.i1{top:0}
#item5 .imgs .img.i2{top:250px;}
#item6 ul{
  width:460px;
}
#item6 ul li{
  float:left;
  width:130px;
  height:80px;
  margin-right:15px;
  margin-bottom:15px;
  border-radius:12px;
  overflow:hidden;
  -webkit-transition:all 0.3s;
  -o-transition:all 0.3s;
  -ms-transition:all 0.3s;
  -moz-transition:all 0.3s;
  transition:all 0.3s;
}
#item6 ul li:hover{
  -webkit-transform:scale(1.2);
  -o-transform:scale(1.2);
  -ms-transform:scale(1.2);
  -moz-transform:scale(1.2);
  transform:scale(1.2);
}
#item6 ul li img{
  width:100%;height:100%;
}
#item6 .p1{
  position:absolute;
  bottom:120px;
  left:450px;
  line-height:30px;
  font-size:22px;
  background:#106ee2;
  color:#fff;
  border-radius:16px;
  padding:0 40px;
  -webkit-transform:rotate(-8deg);
  -o-transform:rotate(-8deg);
  -ms-transform:rotate(-8deg);
  -moz-transform:rotate(-8deg);
  transform:rotate(-8deg);  
}
#item6 .p2{
  position:absolute;
  bottom:60px;
  left:450px;
  line-height:30px;
  font-size:22px;
  background:#bb093a;
  color:#fff;
  border-radius:16px;
  padding:0 10px;
}
#item7 .bao{
  position:relative;
  margin-top:10px;
  padding:20px;
}
#item7 .bao p{
  line-height:1.5;
  width:480px;
}
#item7 .bao .l{
  font-weight:bold;
  float:left;
  width:90px;
}
#item7 .bao .r{
  float:right;
  width:370px;
}
#item7 .bao .zhao{
  position:absolute;
  right:0;
  color:#f00;
  text-align:center;
  font-size:150%;
  font-weight:bold;
}
#item7 .bao .xu, #item7 .bao ul{
  color:#b53737;
  font-weight:bold;
}
#item7 .bao .xu{margin-top: 10px;  font-size:130%;}
#item7 .bao li{
  margin-left:20px;
  list-style-type: disc;
  margin-top:10px;
  line-height:1.5;
}
#last-block{
  background-image:url('../img/bg2.gif');
  background-size:100% 100%;
}